@import "bootstrap";

body {
    text-align: center;
    background-color: #737373;
    background-image: url("https://wallpaperaccess.com/full/834285.jpg");
    
}

h1{
    color: orange;
    margin: 30px;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}

p {
    color: whitesmoke;
    font-size: 25px;
}

.home-see-deal-button{
    color : rgb(16, 14, 14);
}

.box {
    margin: 30px;
    background-color:rgba(59,173,227,1);
    background: linear-gradient(45deg, rgb(248, 250, 250) 0%, rgb(93, 96, 105) 25%, rgb(70, 66, 72) 51%, rgb(245, 240, 241) 100%);
    letter-spacing: 4px;
    box-shadow: 0 0 5px whitesmoke,
                0 0 25px white,
                0 0 50px whitesmoke,
                0 0 200px white;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    
}

.nav-link {
    color: gray;
    &:hover{
        color: orange;
        box-shadow: 0 0 5px gray,
        0 0 25px gray,
        0 0 50px gray,
        0 0 200px gray;
-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }

}


img{
    margin-top: 0px;
}

.notFound {
    margin: -20px;
}

.Logo {
    margin: 40px;
    background: transparent;
    background-blend-mode: soft-light;
}

main.gym-index-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}

.card {
    margin: 20px;
}

